name: C++ CI/CD Pipeline

# Условия запуска пайплайна
on:
  push: {}  # Запускается при любом пуше
  pull_request: {}  # Запускается при любом PR

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    # Клонирование репозитория с подмодулями (submodules: 'recursive')
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: 'recursive' # Клонируем git submodule lib/pqxx
        
    # Установка зависимостей (PostgreSQL Development Libraries)
    # libpqxx требует наличия libpq-dev на Ubuntu
    - name: Install PostgreSQL-client dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libpq-dev

    # Настройка и Сборка с CMake
    - name: Configure and Build
      run: |
        cmake -B build .
        cmake --build build --config Release
        
    # Запуск Тестов
    - name: Run Tests
      # Используем ctest для запуска всех тестов, определенных в CMake
      run: ctest --test-dir build --output-on-failure
      
  # Настройка автоматической генерации документации при каждом обновлении кода через CI/CD.
  # Запускаем только при успешном слиянии в main (push: branches: [main])
  documentation:
    runs-on: ubuntu-latest
    needs: [build_and_test]
    # Генерируем документацию только после успешной сборки и тестирования, 
    # и только для веток main/release
    if: success() && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/release')
    
      # Добавляем разрешения для записи в репозиторий
    permissions:
      contents: write
      pages: write
      id-token: write

    # Шаги генерации документации
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    # Установка Doxygen и Graphviz (для графиков утилита)
    - name: Install Doxygen and Graphviz
      run: |
        sudo apt-get update
        sudo apt-get install -y doxygen graphviz

    # Генерация документации
    - name: Generate Doxygen Documentation
      run: doxygen Doxyfile

    - name: Setup Pages
      uses: actions/configure-pages@v4
      
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./docs/html
      
    # Размещение документации
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
